h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--main-black);
    text-align: center;
}

h1,
h2,
h3 {
    font-weight: 600;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.2em;
}

h5 {
    font-size: 1em;
}

h6 {
    font-size: 0.8em;
}

html {
    height: 100%;
}
.main {
    min-width: 100vw;
    min-height: 95vh;
}